.custom-h{
    height: 10vh;
    width: 15vh;
}

.body{
    margin: 0px;
    padding: 0px;
}

.img-bg-lorem{
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.2)), url(../Red/media/switzerland-862870_1920.jpg);
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;

}

h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    letter-spacing: 1vw;
    color: darkred ;
    font-size: 100px;
    font-family: 'Nova Square', cursive;
  }

  .img-mount{
    position: absolute;
    bottom: 0px;
    padding-left: 0px;
  }