.custom-h{
    height: 10vh;
    width: 15vh;
}

.img-bg-lorem{
    background-image:url(../Red/media/mountains2.png), linear-gradient(to bottom, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0)), url(../Red/media/switzerland-862870_1920.jpg);
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}


.h1{
    font-family: 'Nova Square', cursive;
    color: darkred;
    font-size: 50px;
    letter-spacing: 40px;
  }
  
  .text-custom{
    font-family: 'Nova Square', cursive;
    color: darkred;
  }

  .img-mount{
    bottom: 0px;
    padding-left: 0px;
    height: 70vh;
    width: 94vw;
  }

  .mark-quote-custom{
    text-align: center;
    position: relative;
  }

  .mark-quote-custom::before, .mark-quote-custom::after{
    font-size: 35px;
    font-weight:bolder;
    position:absolute;
  }
  .mark-quote-custom::before{
    content: open-quote;
    color: darkred;
    top: -13px;
    left: -20px;
   
}

.mark-quote-custom::after{
    content: close-quote;
    color: darkred;
    bottom: -30px; right: -20px;
}

.img-underline{
    height: 55px;
}


.custom-container{
    margin-top: 10%;
}

p{
    font-family: 'Nova Square', cursive;
    font-weight: lighter;
}


.custom-border{
    border-bottom: solid 4px darkred;
    padding: 25px;
    margin: 5px;
    position: relative;
}

.custom-border::after{
    content: "";
    position: absolute;
    top: 60px;
    left: 130px ;
    background-color: rgb(255, 255, 255);
    display: inline-block;
    width: 30px;
    height: 30px;
    border: solid 3px darkred;
    border-radius: 50%;
  }


.nav a{
    color: darkred;
}


.button{
  background-color: darkred;
  border: none;
  color: white;
  padding: 20px 55px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  font-family: 'Nova Square', cursive;
  font-weight: lighter;
}

.bg-custom-body{
  background-color: rgba(211, 209, 209, 0.886);
}

.img-bg-button{
  background-image: url(../Red/media/trees2.png);
  height: vh;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

